@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}

/* @theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), ui-monospace;
} */

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
